<li class="pricelist__group">
    <a class="pricelist__title _spoller _active">
        <div class="pricelist__col">Приём ортопеда</div>
        <div class="pricelist__col pricelist__col_labels">
            <span class="pricelist__label pricelist__label_action">Акция</span>
        </div>
    </a>
    <div class="pricelist__body">
        <div class="pricelist__items" data-simplebar data-simplebar-auto-hide="false" data-simplebar-scrollbar-max-size="128">
            <div class="pricelist__item pricelist__item_action _f-price-3">
                <div class="pricelist__row">
                    <div class="pricelist__col">
                        Первичный приём
                        <span class="pricelist__info _icon-info showInclude" aria-expanded="false"></span>
                    </div>
                    <div class="pricelist__col pricelist__col_info">
                        <div class="pricelist__price-wrap">
                            <span class="pricelist__label pricelist__label_action">Акция</span>
                            <strong class="pricelist__price showBank" data-priceold="1 000" aria-expanded="false">от 0 ₽</strong>
                        </div>
                        <div class="call-popup">
                            <a href="#docpopup" class="call-popup__link _popup-link _ibg" data-doctor="docpopup01"><img src="img/doctors/01.png" alt=""></a>
                            <a href="#docpopup" class="call-popup__link _popup-link _ibg" data-doctor="docpopup02"><img src="img/doctors/02.png" alt=""></a>
                            <a href="#docpopup" class="call-popup__link _popup-link _ibg" data-doctor="docpopup03"><img src="img/doctors/03.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricelist__item _f-price-2">
                <div class="pricelist__row">
                    <div class="pricelist__col">
                        Вторичный приём
                    </div>
                    <div class="pricelist__col pricelist__col_info">
                        <div class="pricelist__price-wrap">
                            <strong class="pricelist__price">3 500 ₽</strong>
                        </div>
                        <div class="call-popup">
                            <a href="#docpopup" class="call-popup__link _popup-link _ibg" data-doctor="docpopup01"><img src="img/doctors/01.png" alt=""></a>
                            <a href="#docpopup" class="call-popup__link _popup-link _ibg" data-doctor="docpopup02"><img src="img/doctors/02.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pricelist__item pricelist__item_action _f-price-3">
                <div class="pricelist__row">
                    <div class="pricelist__col">
                        Бандаж коленный с силиконовым пателлярным кольцом GENUMEDI III<span class="pricelist__info _icon-info showInclude" aria-expanded="false"></span>
                    </div>
                    <div class="pricelist__col pricelist__col_info">
                        <strong class="pricelist__price showBank" data-priceold="10 000" aria-expanded="false">5 000 ₽</strong>
                    </div>
                </div>
            </div>
            <div class="pricelist__item pricelist__item_action _f-price-4">
                <div class="pricelist__row">
                    <div class="pricelist__col">
                        Изготовление индивидуальных ортопедических стелек Формтотикс и их коррекция<span class="pricelist__info _icon-info showInclude" aria-expanded="false"></span>
                    </div>
                    <div class="pricelist__col pricelist__col_info">
                        <strong class="pricelist__price showBank" data-priceold="110 000" aria-expanded="false">55 000 ₽</strong>
                    </div>
                </div>
            </div>
            <div class="pricelist__item pricelist__item_action _f-price-5">
                <div class="pricelist__row">
                    <div class="pricelist__col">
                        Изготовление индивидуальных ортопедических стелек Формтотикс и их коррекция<span class="pricelist__info _icon-info showInclude" aria-expanded="false"></span>
                    </div>
                    <div class="pricelist__col pricelist__col_info">
                        <strong class="pricelist__price showBank" data-priceold="20 000" aria-expanded="false">15 000 ₽</strong>
                    </div>
                </div>
            </div>
            <div class="pricelist__item _f-price-6">
                <div class="pricelist__row">
                    <div class="pricelist__col">
                        Бандаж коленный с силиконовым пателлярным кольцом GENUMEDI III
                    </div>
                    <div class="pricelist__col  pricelist__col_info">
                        <strong class="pricelist__price">5 000 ₽</strong>
                    </div>
                </div>
            </div>
            <div class="pricelist__item _f-price-2">
                <div class="pricelist__row">
                    <div class="pricelist__col">
                        Изготовление индивидуальных ортопедических стелек Формтотикс и их коррекция
                    </div>
                    <div class="pricelist__col  pricelist__col_info">
                        <strong class="pricelist__price">5 000 ₽</strong>
                    </div>
                </div>
            </div>
            <div class="pricelist__item _f-price-4">
                <div class="pricelist__row">
                    <div class="pricelist__col">
                        Изготовление индивидуальных ортопедических стелек Формтотикс и их коррекция
                    </div>
                    <div class="pricelist__col  pricelist__col_info">
                        <strong class="pricelist__price">5 000 ₽</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
