<li class="doctors-main__col">
    <div class="doctors-main__price price-block">
        <div class="price-block__content">
            <div class="price-block__row">
                <div class="price-block__title">Вызов врача<br>
                    на дом
                </div>
                <ul class="price-block__list">
                    <li class="price-block__item">
                        <div class="price-block__service">Стоимость вызова врача:</div>
                        <div class="price-block__price">от 3 000 ₽</div>
                    </li>
                    <li class="price-block__item">
                        <div class="price-block__service">Снятие острой боли:</div>
                        <div class="price-block__price">от 3 500 ₽</div>
                    </li>
                    <li class="price-block__item">
                        <div class="price-block__service">Стоимость выезда врача в Ленинрадскую область:</div>
                        <div class="price-block__price">от 5 000 ₽</div>
                    </li>
                </ul>
                <button data-form="make-appointment" class="price-block__btn btn btn_inv btn_l _popup-link">вызвать врача</button>
                <div class="price-block__footnote">Данные условия не являются публичной офертой</div>
            </div>
        </div>
    </div>
</li>
