<li class="doctors-main__col doctors-main__col_2x">
    <div class="doctors-main__action action-block">
        <div class="action-block__content">
            <div class="action-block__row">
                <div class="action-block__labels">
                    <span class="label">акция</span>
                    <span class="label label_price">специальная цена</span>
                </div>
                <div class="action-block__title">Бесплатный прием невролога или ортопеда</div>
                <div class="action-block__text">Консультация невролога или ортопеда бесплатно во всех клиниках «Мастерской Здоровья» до 31 декабря 2020 года.</div>
                <div class="action-block__footnote">*Подробности акции уточняйте у консультантов клиник или по тел. (812) 333-30-73</div>
                <a href="" class="action-block__btn btn btn_prim btn_l">все акции</a>
            </div>
        </div>
    </div>
</li>
