<li class="doctors-main__col doctors-main__col_4x doctors-main__col_rating">
    <div class="rating-banner">
        <div class="rating-banner__content _container">
            <div class="rating-banner__rating rating-link rating-link_big">
                <div class="rating-link__top">5 из 5</div>
                <div class="rating-link__bottom">
                    <img class="rating-link__logo" src="/img/rating-clinic/napopravky.svg" alt="logo">
                </div>
            </div>
            <div class="rating-banner__body">
                <p class="rating-banner__title">«Мастерская Здоровья» — лучшая клиника</p>
                <p class="rating-banner__text">«Мастерская Здоровья» заняла первое место в номинации
                    <br>«Лучшая частная клиника по специализации Неврология», 2020 год
                </p>
            </div>
        </div>
    </div>
</li>
