<li class="reviews__action ad-block">
    <div class="ad-block__content">
        <div class="ad-block__title ad-block__title_big">Оцените работу доктора</div>
        <div class="ad-block__subtitle">Мы всегда готовы развиваться
            и с нетерпением ждём ваших комментариев.
        </div>
        <div class="ad-block__text">Уделите несколько минут тому, чтобы оставить отзыв о
            лечении у
            доктора. Рассказав о своих впечатлениях, вы поможете нам стать лучше.
        </div>
        <button data-form="give-feedback" class="ad-block__btn btn btn_m btn_inv _popup-link">
            оставить отзыв
        </button>
    </div>
</li>
