<div class="popup popup_review">
    <div class="popup__content">
        <div class="popup__body">
            <div class="popup-review">

            </div>
            <div class="popup__close"></div>
        </div>
    </div>
</div>
